<main>
  <h1>{{ title }}</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Salário</th>
        <th>Cargo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees" (click)="employeeSelect(e.id)">
        <td [ngClass]="{ 'bold': employee === e.id }">{{ e.id }}</td>
        <td [ngClass]="{ 'bold': employee === e.id }">{{ e.name }}</td>
        <td [ngClass]="{ 'bold': employee === e.id }">{{ e.wage }}</td>
        <td [ngClass]="{ 'bold': employee === e.id }">{{ e.office }}</td>
        <td [ngClass]="{ 'bold': employee === e.id }">
          <figure *ngIf="employee === e.id">
            <img
              src="{{ e.photo }}"
              alt="Imagem de perfil do github de {{ e.name }}"
            />
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</main>
