<app-header></app-header>
<main>
  <form action="" method="post" [formGroup]="formRegister">
    <label for="username">Usuário:</label>
    <input
      type="text"
      placeholder="Digite seu usuário"
      id="username"
      name="username"
      required
      formControlName="username"
      (focus)="errorUsername = false"
      (blur)="validateUsername()"
    />
    <p
      class="error"
      *ngIf="errorUsername && formRegister.controls.username.errors?.['required']"
    >
      O campo não deve estar vazio!
    </p>
    <p
      class="error"
      *ngIf="errorUsername && formRegister.controls.username.errors?.['maxlength']"
    >
      Deve ter o tamanho máximo de 20 caracteres!
    </p>
    <p
      class="error"
      *ngIf="errorUsername && formRegister.controls.username.errors?.['minlength']"
    >
      Deve ter o tamanho mínimo de 3 caracteres!
    </p>

    <label for="password">Senha:</label>
    <input
      type="password"
      placeholder="Digite sua senha"
      id="password"
      name="password"
      required
      formControlName="password"
      (focus)="errorPassword = false"
      (blur)="validatePassword()"
    />
    <p
      class="error"
      *ngIf="errorPassword && formRegister.controls.password.errors?.['required']"
    >
      O campo não deve estar vazio!
    </p>
    <p
      class="error"
      *ngIf="errorPassword && formRegister.controls.password.errors?.['maxlength']"
    >
      Deve ter o tamanho máximo de 20 caracteres!
    </p>
    <p
      class="error"
      *ngIf="errorPassword && formRegister.controls.password.errors?.['minlength']"
    >
      Deve ter o tamanho mínimo de 3 caracteres!
    </p>

    <input
      type="submit"
      value="CADASTRAR"
      [disabled]="formRegister.invalid"
      (click)="authenticate()"
    />
  </form>
  <p>Já possui cadastro? <a [routerLink]="['/login']">Acesse sua conta</a></p>
</main>
<app-footer></app-footer>
