<app-header></app-header>
<main>
  <form action="" method="post">
    <p class="error" *ngIf="">O campo não deve estar vazio!</p>
    <label for="username">Usuário:</label>
    <input type="text" placeholder="Digite seu usuário" id="username" name="username" required />

    <p class="error" *ngIf="">O campo não deve estar vazio!</p>
    <label for="password">Senha:</label>
    <input type="password" placeholder="Digite sua senha" id="password" name="password" required />

    <input type="submit" value="CADASTRAR" />
  </form>
  <p>Já possui cadastro? <a [routerLink]="['/login']">Acesse sua conta</a></p>

</main>
<app-footer></app-footer>
