<main>
  <h1 appBlue>Hello World</h1>
  <p appBlue>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
    maiores aut in dicta qui assumenda aperiam rerum esse consequatur, dolorum
    ab non saepe impedit obcaecati beatae ipsum alias minus iste provident
    pariatur ratione. Aspernatur maxime perferendis error inventore corporis
    quibusdam, sit autem tenetur beatae vitae fugit facilis suscipit tempore!
  </p>
  <p appBlue>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
    maiores aut in dicta qui assumenda aperiam rerum esse consequatur, dolorum
    ab non saepe impedit obcaecati beatae ipsum alias minus iste provident
    pariatur ratione. Aspernatur maxime perferendis error inventore corporis
    quibusdam, sit autem tenetur beatae vitae fugit facilis suscipit tempore!
  </p>
  <p appBlue>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
    maiores aut in dicta qui assumenda aperiam rerum esse consequatur, dolorum
    ab non saepe impedit obcaecati beatae ipsum alias minus iste provident
    pariatur ratione. Aspernatur maxime perferendis error inventore corporis
    quibusdam, sit autem tenetur beatae vitae fugit facilis suscipit tempore!
  </p>
  <p appBlue>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
    maiores aut in dicta qui assumenda aperiam rerum esse consequatur, dolorum
    ab non saepe impedit obcaecati beatae ipsum alias minus iste provident
    pariatur ratione. Aspernatur maxime perferendis error inventore corporis
    quibusdam, sit autem tenetur beatae vitae fugit facilis suscipit tempore!
  </p>
  <p appBlue>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
    maiores aut in dicta qui assumenda aperiam rerum esse consequatur, dolorum
    ab non saepe impedit obcaecati beatae ipsum alias minus iste provident
    pariatur ratione. Aspernatur maxime perferendis error inventore corporis
    quibusdam, sit autem tenetur beatae vitae fugit facilis suscipit tempore!
  </p>
</main>
