:host {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 6rem;
  .row {
    display: flex;
    align-items: center;
    .buttons {
      width: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
