<app-header></app-header>
<main>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Aluno</th>
        <th>Mensalidade</th>
        <th>Inclusão no Sistema</th>
        <th>Último Pagamento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of student">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.monthlyFee }}</td>
        <td>{{ s.dateOfInclusionInTheSystem | date: "shortDate" }}</td>
        <td>{{ s.lastPaymentDate | date: "shortDate" }}</td>
      </tr>
    </tbody>
  </table>
</main>
<app-footer></app-footer>
